
body{
    font-family: 'Georgia', serif;
    background-color: #ffffff; /* Change to white background */
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-container {
    display: flex; /* Use flexbox for layout */
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff; /* White background with transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-left, .logo-right{
    max-width: 80px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    width: auto; /* Adjust as needed */
    height: auto;
    color: #000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.logo-text {
  text-align: center; /* Centering the text */
}

.title {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5px; /* Add some space between title and subtitle */
}

.subtitle {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color: #000000; /* Change text color to black */
    text-shadow: 2px 2px 4px #ffffff;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem calc((100vw - 1300) / 2);
    margin-bottom: 50px;
    margin-top: 20px;
}

.column-left{
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-bottom: 20px;
    font-size: 2.8rem;
}

.column-left p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.5;
}

button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 45px;
    font-size: 16px;
    width: 300px;
    border: none;
    color: white;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

button:hover{
    background: #c8c8c8;
    color: #000;
}

.column-right{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
}

.home-image {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    max-width: 65%;
    height: auto;
}
  
.about {
    background-color: #ffffff; /* Light gray background */
    color: #000000; /* Dark gray text */
    padding: 4rem 0; /* Padding top and bottom */
    text-align: center; /* Center the text */
}
  
.about-container {
    max-width: 800px; /* Set max width */
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Left and right padding */
}
  
.about h2 {
    font-size: 2.5rem; /* Large font size for the heading */
    margin-bottom: 1rem; /* Margin below the heading */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Font styling */
}
  
.about p {
    font-size: 1.2rem; /* Font size for the paragraph */
    line-height: 1.5; /* Line height for better readability */
    font-family: 'Georgia', serif; /* Font styling */
    margin: 0 auto; /* Center the paragraph */
    max-width: 700px; /* Max width for better readability */
}

.footer {
    background-color: #f4f4f4; /* Light gray background for distinction */
    padding: 20px 0; /* Vertical padding */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Shadow at the top for some depth */
}

.footer-container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Centering the container */
    padding: 0 20px; /* Side padding */
    text-align: center; /* Center aligning the text/content */
}

.footer h5, .footer h6 {
    margin: 0; /* Resetting default margin */
    padding: 5px 0; /* Small padding for spacing */
}

.footer h5 {
    font-weight: bold; /* Bold font weight for the 'contact us' text */
    font-size: 18px; /* Adjust font size */
}

.footer h6 {
    font-size: 16px; /* Adjust font size */
    color: #555; /* Slightly darker text for better contrast on light gray background */
}

/* Optional: Add some hover effect on the email to indicate it's clickable */
.footer h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-email {
    color: #555;
    text-decoration: none;
}

.footer-email:hover {
    text-decoration: underline;
}

a.button-link {
    text-decoration: none;
}



@media screen and (max-width: 760px) {
    .home-container {
        grid-template-columns: 1fr; /* Stacks content vertically below 760px width */
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .header-container {
        flex-direction: row; /* Stack flex items vertically */
        align-items: center; /* Center align items */
    }

    

    /* Optionally, adjust font sizes for readability */
    .title {
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }



}